.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------------- Custom styles --------------------- */

body {
  background-color: #365E3B !important;
}

.navbar {
  border-radius: 0 0 20px 20px;
}

.card {
  border-radius: 20px !important;
}

span {
  color: #00950F;
  font-weight: bold;
}

.banner .card-title {
  font-size: 6vmax !important;
}

.banner img {
  width: 100px;
  position: absolute;
}

.banner img {
  width: 100px;
}

.atom {
  rotate: -28deg;
}

.kolba1 {
  rotate: -15deg;
}

.kolba2 {
  rotate: 26deg;
}

.microskop {
  rotate: 24deg;
}

.footer {
  background-color: black;
}

.footer h5 {
  color: white;
  margin-bottom: 24px;
  font-weight: bold;
}

.footer p {
  color: white;
  margin-top: -24px;
  margin-bottom: 0px;
}

.footer .kontakt {
  margin-left: 25px;
  margin-top: 0px;
}

.footer a {
  color: white;
  text-decoration: none;
}